# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Uploads
app/static/uploads/

# env
frontend/env
backend/env